{% extends 'education/base.html' %}
{% load static %}

{% block title %} Detail {% endblock %}

{% block content %}
    <h1>Class {{ Classes.class_name|lower|safe }}</h1>
    <ul>
        <h4>List of courses are:</h4>
        {% for course in Classes.course.all %}
            <li> {{ course }}</li>
        {% endfor %}
    </ul>
    <ul>
        <h4>List of students are:</h4>
        {% for student in Classes.student.all %}
            <li> {{ student }}</li>
        {% endfor %}
    </ul>


{% endblock %}


